@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark theme defaults */
:root {
  color-scheme: dark;
}

body {
  @apply bg-gray-900 text-gray-100;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}