dark-theme {
  background-color: #121212;
  color: #faf3f3;
  min-height: 100vh;
  display: flex;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 220px;
  padding: 20px;
  background-color: #1e1e1e;
  
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s;

}

.sidebar ul li:hover, .sidebar ul li.active {
  background-color: #333;
}

.dashboard-content {
  flex: 1;
  padding: 20px;

}

.card {
  background-color: #1e1e1e;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
}
input, select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #f1f1f1;
}
button {
  padding: 10px 20px;
  background-color: #00bfa5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #00a18a;
}
.dashboard-container {
  display: flex;
  width: 100%;
}